<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>com.aayushpokharel.opensource.NativeYoutube</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nativeyoutube</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://f005.backblazeb2.com/file/compose-updates/native-youtube/native-youtube-appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>TBsrewxAHzjnt9BHjOcOkQa7H4+9dPZnkJR4gQ/1R7g=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
</dict>
</plist>
