body{
    background: black !important;
}

button{
    background: red !important;
/*    visibility: hidden;*/
}

#appbar-guide-button-container,
#footer-container,
#guide-container,
#masthead-search,
#sb-button-notify,
#upload-btn,
#watch-discussion,
#watch8-secondary-actions,
#yt-masthead-account-picker,
.appbar-menu,
.branded-page-related-channels,
.comments-iframe-container,
.signin-container,
.watch-extras-section,
.watch-sidebar,
.yt-uix-redirect-link {
    display: none !important;
}


#container.ytd-masthead-container {
    background: black !important;
    /* visibility: hidden; */
}

#secondary{
    background: black !important;
    visibility: hidden;
}