body{
    background: black !important;
}

div {
    color: red !important;
}

button{
    background: red !important;
}
#player{
  width: 100% !important;
}
.ytd-masthead{
    display: hidden
}

.ytp-autonav-toggle-button-container{
    display:hidden
}

#info, #container{
    display: hidden
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
ytd-video-primary-info-renderer{
    display: hidden

}
